<html>
    <head><title>UrLab</title></head>
    <body style="font-size: 13px; font-family: sans-serif">
        <center>
            <img src="/static/img/urlab.png" style="border-bottom: 2px solid black; margin-bottom: 30px"><br>
            {% block content %}
            {% endblock %}
            <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></p>
        </center>
    </body>
</html>
