<html>
    <head>
        <title>UrLab</title>
        <style>
            #menu a { color: black; text-decoration:none;}
            #menu a:hover { color:grey;}
            #menu{ border-bottom: 2px solid black; width: auto; dispay: inline-block; padding: 5px;width: 550px; font-size: 2em; margin-bottom:20px;}
        </style>
    </head>
    <body style="font-size: 13px; font-family: sans-serif">
        <center>

            <a href="/">
                {% if request.get_full_path == "/" %}
                <img src="/static/img/urlab.png">
                {% else %}
                <img src="/static/img/urlabh.png" style="margin-bottom: 10px;">
                {% endif %}
            </a>
            </br>
            <div id="menu">
                <a href="{% url news:blog_index %}">News</a> - <a href="https://wiki.urlab.be/urlab:urlab">Wiki</a> - <a href="http://www.cerkinfo.be/cgi-bin/mailman/listinfo/hackulb">Mailing List</a>
            </div>
            {% block content %}
            {% endblock %}
            <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></p>
        </center>
    </body>
</html>
